<dr-header></dr-header>

<ion-content padding>
	<ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-segment color="light" (ionChange)="goTo($event)">
			<ion-segment-button value="roster" [checked]="activeTab === 'roster'">
				Rooster
			</ion-segment-button>
			<ion-segment-button value="search" [checked]="activeTab === 'search'">
				Zoeken
			</ion-segment-button>
			<!-- <ion-segment-button value="settings" [checked]="activeTab === 'settings'">
				Instellingen
			</ion-segment-button> -->
		</ion-segment>
	</ion-toolbar>
</ion-footer>
