<!-- <dr-header></dr-header> -->
<ion-content *ngIf="roster; else noRoster" padding>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!roster.fromSave && !saved">
		<ion-fab-button small (click)="saveRoster()">
			<ion-icon name="save"></ion-icon>
		</ion-fab-button>
	</ion-fab>

	<ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="roster.remarks">
		<ion-fab-button small (click)="showRemarks()" color="warning">
			<ion-icon name="alert" color="white"></ion-icon>
		</ion-fab-button>
	</ion-fab>

	<!-- <h2 class="center">Week {{ week }}</h2> -->
	<ion-grid no-padding>
		<ion-row class="heading">
			<ion-col>
				<h3>{{ roster?.roster?.displayName }}</h3>
			</ion-col>
			<ion-col>
				<ion-select [interfaceOptions]="{ header: 'Week nummer' }" interface="popover" [value]="week" placeholder="Week" (ionChange)="selectWeek($event)">
					<ion-select-option *ngFor="let weekVal of weeks" [value]="weekVal">Week {{ weekVal }}</ion-select-option>
				</ion-select>
			</ion-col>
		</ion-row>
	</ion-grid>

	<div *ngIf="!roster" text-wrap padding>
		<ion-skeleton-text width="40px"></ion-skeleton-text>
		<ion-skeleton-text width="200px"></ion-skeleton-text>
		<ion-skeleton-text width="300px"></ion-skeleton-text>
		<ion-skeleton-text width="80px"></ion-skeleton-text>
	</div>

	<ion-list lines="full" *ngIf="roster?.data">
		<ion-item-group *ngFor="let dateEntry of roster.data">
			<ion-item-divider class="date">
				<ion-text [color]="getDateColor(dateEntry?.date)">
					{{ dateEntry?.date | date:'EEEE - dd MMMM yyyy' }}
				</ion-text>
			</ion-item-divider>

			<div *ngIf="dateEntry?.items?.length; else noClasses">
				<ion-item *ngFor="let item of dateEntry.items" text-wrap>
					<ion-grid>
						<ion-row>
							<ion-col>
								<ion-text [color]="getStatusColor(item)">
									<h2 class="class">{{ item.class }}</h2>
								</ion-text>
							</ion-col>
							<ion-col align-self-end>
								<ion-text [color]="getStatusColor(item)">
									<p class="time">
										<ion-icon name="time" [color]="getStatusColor(item)" class="float-fix"></ion-icon>
										<b>{{ item.start | date:'HH:mm' }} - {{ item.end | date:'HH:mm' }}</b>
									</p>
								</ion-text>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col *ngIf="item?.room?.length">
								<ion-text [color]="getStatusColor(item)">
									<p>
										<ion-icon name="browsers" [color]="getStatusColor(item)" class="float-fix"></ion-icon>
										<b>{{ item.room }}</b>
									</p>
								</ion-text>
							</ion-col>
							<ion-col *ngIf="item?.group?.length">
								<ion-text [color]="getStatusColor(item)">
									<p>
										<ion-icon name="people" [color]="getStatusColor(item)" class="float-fix"></ion-icon>
										{{ item.group }}
									</p>
								</ion-text>
							</ion-col>
							<ion-col *ngIf="item?.teacher?.length">
								<ion-text [color]="getStatusColor(item)">
									<p>
										<ion-icon name="school" [color]="getStatusColor(item)" class="float-fix"></ion-icon>
										{{ item.teacher }}
									</p>
								</ion-text>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>
			</div>
		</ion-item-group>
	</ion-list>

	<ion-grid class="legend">
		<ion-row>
			<ion-col>
				<b>Legenda:</b>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-text color="medium">
					<div class="block medium"></div>
					<p>
						Afgelopen
					</p>
				</ion-text>
			</ion-col>
			<ion-col>
				<ion-text color="success">
					<div class="block success"></div>
					<p>
						Bezig
					</p>
				</ion-text>
			</ion-col>
			<ion-col>
				<ion-text color="tertiary">
					<div class="block tertiary"></div>
					<p>
						Binnenkort
					</p>
				</ion-text>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

<ng-template #noClasses>
	<ion-item>
		<ion-label>
			<p>Geen lessen</p>
		</ion-label>
	</ion-item>
</ng-template>

<ng-template #noRoster>
	<ion-content padding *ngIf="!loading; else loadingView">
		<h5>Je hebt nog geen rooster geselecteerd!</h5>
	</ion-content>
</ng-template>

<ng-template #loadingView>
	<ion-content padding>
		<h5>Bezig met ophalen van rooster.</h5>
	</ion-content>
</ng-template>
