.center {
	text-align: center;
}

.heading {
	h3 {
		margin-top: 8px;
	}

	margin-bottom: 20px;
}

.class {
	text-transform: lowercase;
}

.date {
	text-transform: capitalize;
	font-weight: bold;
}

.legend {
	.block {
		width: 10px;
		height: 10px;
		float: left;
		background: #989aa2;

		margin-top: 5px;
		margin-right: 5px;

		&.success {
			background: #10dc60;
		}

		&.tertiary {
			background: #f4a942;
		}
	}

	p {
		margin: 0;
		float: left;
	}
}

ion-icon.float-fix {
	float: left;
	margin-top: 2px;
	margin-right: 5px;
}

ion-item-group {
	margin-top: 30px;

	&:first-child {
		margin-top: 0;
	}
}

p.padding {
	padding: 5px;
	padding-left: 0;
}

[align-self-end] {
	text-align: right;

	ion-icon.float-fix {
		float: right;
		margin-left: 5px;
	}

	p {
		// clear: right;
	}
}
