<!-- <dr-header></dr-header> -->

<ion-content padding *ngIf="connected; else noInternet">
	<ion-searchbar (ionChange)="getItems($event)" [debounce]="250" [animated]="true"></ion-searchbar>

	<div *ngIf="searching" text-wrap padding>
		<ion-skeleton-text width="40px"></ion-skeleton-text>
		<ion-skeleton-text width="200px"></ion-skeleton-text>
		<ion-skeleton-text width="300px"></ion-skeleton-text>
		<ion-skeleton-text width="80px"></ion-skeleton-text>
	</div>

	<ion-item *ngIf="!searchResults && !searching" text-wrap>
		<ion-label>Start met zoeken om een lijst met roosters op te halen.</ion-label>
	</ion-item>

	<ion-item *ngIf="searchResults && !searchResults.length && !searching" text-wrap>
		<ion-label>Er zijn geen resultaten bij je zoekopdracht.</ion-label>
	</ion-item>

	<ion-list lines="full" *ngIf="searchResults && searchResults.length && !searching">
		<ion-item-divider>Zoek resultaat:</ion-item-divider>
		<ion-item (click)="openRoster(item)" detail *ngFor="let item of searchResults">

			<ion-icon *ngIf="item.category === 'teacher'" name="school" slot="start"></ion-icon>
			<ion-icon *ngIf="item.category === 'group'" name="people" slot="start"></ion-icon>
			<ion-icon *ngIf="item.category === 'room'" name="browsers" slot="start"></ion-icon>

			<ion-label *ngIf="item.category === 'teacher'">{{ item.displayName }} ({{ item.identifier }})</ion-label>
			<ion-label *ngIf="item.category !== 'teacher'">{{ item.displayName }}</ion-label>

			<ion-ripple-effect></ion-ripple-effect>
		</ion-item>
	</ion-list>
</ion-content>

<ng-template #noInternet>
	<ion-content padding>
		<h3>Geen internet verbinding gevonden.</h3>
		<p>Je hebt een internet verbinding nodig om een rooster op te zoeken.</p>
	</ion-content>
</ng-template>
